{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "globals": {
    "graphql": true,
    "window": true
  },
  "rules": {
    "react/forbid-prop-types": 1,
    "jsx-a11y/click-events-have-key-events": 1
  }
}
