.App {
  text-align: left;
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.App-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.App-header {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.App-header-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.App-title {
  font-size: 1.5em;
}

.App-body {
  font-size: large;
  padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-links {
  margin-left: auto;
  margin-right: 0;
}

@media (max-width: 600px) {

  .App-header-inner {
    display: block;
  }

  .App-links {
    margin: initial;
    padding-left: 20px;
  }

}